/* *{outline: 1px solid red;}
 */
 .highnav-vh{
    height: 10vh;
    background-color: #0062b1;
}

.navbar-title{
    color: white;
}
.side-nav{
    height: 90vh;
    width: 20vw;
}

.side-nav-color{
    background-color: #e7eaeb;
}

.side-nav-links{
    background-color: white;
    border-left: 10px solid #0062b1;
    border-right: 10px solid #0062b1;
    font-size: 22px;
}

.newsletter{
    background-color: #0062b1 ;
    border: 4px solid white;
    color:white;
}

.newsletter2{
    transform: rotate(90deg);
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0);
    color:white;
    border:none;
}

.description{
    color: #0062b1;
}

.join{
    background-color: white;
    color: #0062b1;
    border: 1px solid #0062b1;
    border-radius: 10px;
}

.join-button{
    background-color: white;
    color: #0062b1;
    border: 1px solid #0062b1;
    border-radius: 2rem;
    font-size: 32px;
    padding: 2% 10%;
    max-width: 200px;
    width: 100%;
}

.media-title{
    font-size: 70px;
}
